@import "main";

.drinks-events-table {
  background-color: $secondary-background;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-family: $primary-font-stack;

  td {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-weight: $primary-font-weight;
  }
}
