$primary-background: #008190;
$secondary-background: #fff;
$primary-input: #008190;
$primary-font-stack: Helvetica, sans-serif;
$primary-font-weight: 100;
$form-element-height: 40px;

h1 {
  font-size: 20px;
}

.search-form {
  text-align: center;
}

form {
  background-color: $primary-background;
  padding: 50px;

  .input {
    color: $primary-input;
    height: $form-element-height;
    font-family: $primary-font-stack;
    font-weight: $primary-font-weight;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  .search-input {
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
    padding: 0px 5px 0px 5px;
  }

  .submit-button {
    font-size: 10px;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
  }
}

.drinks-events-table {
  background-color: $secondary-background;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;

  td {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-weight: $primary-font-weight;
  }
}
